<div class="board">
    <%= for word <- @tally.guessed_words do %>
        <div class="word">
        <%= for [letter, hint] <- word do %>
            <%= colored_letter(letter, hint) |> raw %>
        <% end %>
        </div>
    <% end %>
</div>

<%= form_for(@conn, Routes.exquisitle_path(@conn, :update), [ as: "make_move", method: :put], fn form -> %>
    <%= text_input(form, :guess) %>
    <%= submit("Make next guess") %>
<% end) %>